* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4; /* لون خلفية الصفحة */
}

.main-container-profile {
  display: flex;
  justify-content: center; /* محاذاة المحتوى في الوسط */
  align-items: center; /* محاذاة العمودي في الوسط */
  height: 100vh; /* ملء ارتفاع الشاشة */
}

.content-profile {
  display: flex;
  justify-content: center; /* محاذاة المحتوى في الوسط */
  align-items: center; /* محاذاة العمودي في الوسط */
}

.card-profile {
  width: 550px; /* زيادة عرض الكارد */
  height: 550px; /* اجعل الارتفاع تلقائي */
  max-height: 90%; /* الحد الأقصى لارتفاع الكارد */
  background-color: #fff; /* لون خلفية الكارد */
  border-radius: 10px; /* زوايا مستديرة */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* ظل خفيف */
  padding: 30px; /* زيادة المساحة الداخلية */
  text-align: center; /* محاذاة النص في الوسط */
  display: flex;
  flex-direction: column; /* جعل المحتوى عمودياً */
  justify-content: center; /* محاذاة المحتوى في الوسط عموديًا */
}

.image-container-profile {
  margin-bottom: 20px; /* إضافة مساحة أسفل الصورة */
}


.welcome-message-profile {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px; /* زيادة حجم خط الرسالة الترحيبية */
  margin-bottom: 20px; /* إضافة مساحة أسفل الرسالة */
}

.username-profile {
  color: rgb(252, 143, 9);
  font-size: 57px; /* زيادة حجم اسم المستخدم */
}

.user-details-profile {
  font-size: 16px; /* حجم خط تفاصيل المستخدم */
  line-height: 1.5; /* زيادة المسافة بين الأسطر */
  display: flex;
  flex-direction: column; /* ترتيب العناصر عموديًا */
  align-items: flex-start; /* محاذاة العناصر لليسار */
  justify-content: center; /* محاذاة العمودي في الوسط */
  width: 100%; /* جعل العرض 100% */
}

.detail-row-profile {
  display: flex; /* استخدام فليكس لتنسيق النصوص */
  justify-content: flex-start; /* محاذاة النصوص لليسار */
  align-items: center; /* محاذاة العمودي في الوسط */
  margin-top: 15px; /* إضافة مساحة فوق كل عنصر */
}

.label-profile {
  font-weight: bold; /* جعل النص بارزاً */
  margin-right: 10px; /* إضافة مساحة صغيرة بين اللابيل والفاليو */
  font-size: 40px; /* زيادة حجم اللابيل */
}

.value-profile {
  font-size: 16px; /* زيادة حجم الفاليو */
}
