/* components/Navbar.css */
/* Navbar.css */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px; /* عرض الناف بار */
  height: 100vh; /* جعله يمتد على طول الصفحة */
  background-color: #333; /* لون الخلفية */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

.logo {
  margin-bottom: 20px;
}

.logo-img {
  width: 600px; /* زيادة حجم الشعار - يمكنك ضبطه حسب الحاجة */
}

/* تأثير هوفر على الشعار */
.logo:hover {
  transform: scale(1.1); /* تكبير الشعار عند التمرير */
  transition: transform 0.3s ease; /* تأثير الانتقال */
  animation: shake 0.5s ease; /* إضافة تأثير الاهتزاز */
}

/* لتغيير لون الشعار (إذا كان شعارك عبارة عن صورة) */
.logo-img:hover {
  opacity: 0.8; /* تغيير الشفافية عند التمرير */
  transition: opacity 0.3s ease; /* تأثير الانتقال */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

li a {
  text-decoration: none;
  color: rgba(132, 130, 130, 0.856);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

li a:hover {
  color: orange; /* تغيير اللون عند تمرير الماوس */
  transform: scale(1.1); /* تكبير العنصر بأكمله */
}

/* تأثير هوفر على الأيقونات في الشريط الجانبي */
li a .icon:hover {
  transform: scale(1.2); /* تكبير الأيقونة عند التمرير */
  transition: transform 0.3s ease; /* تأثير الانتقال */
 
}

.sidebar li span {
  display: inline-block;
  margin-left: 10px;
}
