/* BookDetailPage.css */

/* تنسيق الصفحة العامة */
.main-container {
    display: flex;
    background-color: #f8f9fa; /* لون خلفية الصفحة */
}

/* تصميم محتوى صفحة تفاصيل الكتاب */
.content {
    margin-left: 250px; /* مساحة للمحتوى ليظهر بجانب الشريط */
    padding: 20px; /* حشو المحتوى */
    flex-grow: 1; /* يسمح بالمحتوى بالتمدد */
}

.book-cover {
    max-width: 200px; /* أقصى عرض لصورة الكتاب */
    margin: 20px 0; /* مساحة حول الصورة */
}

.borrow-button {
    background-color: #007bff; /* لون الزر */
    color: white; /* لون النص */
    border: none; /* إزالة الحدود */
    padding: 10px 20px; /* حشو الزر */
    cursor: pointer; /* تغيير شكل المؤشر عند المرور فوق الزر */
}

.borrow-button:hover {
    background-color: #0056b3; /* لون الزر عند التمرير */
}
.logo-img {
    max-width: 100%; /* اجعل عرض الصورة مرنًا */
    height: auto; /* يحافظ على نسبة العرض إلى الارتفاع */
}
